body {
    background-color: rgb(0, 0, 0);
}
header{
    display: flex;
}
h1{
    color: bb1d6e;
    font-size: 60px;
    text-align: center;
}
p{
    color: red;
    font-size: 40px;
    text-align: center;
}
img{
    width: 40%;
    margin-left: 600px;
}